{% extends "layout.html" %} {% block title %} Category Creation {% endblock %}
{% block content %}
<h1>All Categories</h1>
<table class="table table-hover table-striped table-bordered datatable display">
  <thead>
    <tr>
      <td>Sr. No.</td>
      <td>Category Name</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    {% for i in category %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.category }}</td>
      <td>
        <a class="btn btn-primary" href="{% url 'edit_category' i.id %}"
          >Edit</a
        >
        <a class="btn btn-danger" href="{% url 'delete_category' i.id %}"
          >Delete</a
        >
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
<a href="{% url 'add_category' %}" class="btn btn-primary">Add Store</a>
{% endblock %}
