{% extends "layout.html" %}
{% block title %}
Account Creation
{% endblock %}
{% block content %}
<h1>All Accounts</h1>
<table class="table table-hover table-striped table-bordered datatable display">
    <thead>
        <tr>
            <td>Sr. No.</td>
            <td>Account</td>
            <td>Account Type</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        {% for i in account %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.ledger_name }}</td>
                <td>{{ i.Account_category }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'edit_account' i.id %}" >Edit</a>
                    <a class="btn btn-danger"href="{% url 'delete_account' i.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    
</table>
<a href="{% url 'add_account' %}" class="btn btn-primary">Add Account</a>
{% endblock %}